.animation {
  display: block;
  overflow: visible;
}

.orange { 
  animation: rotate 4s infinite ease alternate;
  transform-origin: 63% 98%;
}

.green {
  animation: rotate 3s infinite ease alternate-reverse;
  transform-origin: 90% 70%;
}

.pink { 
  animation: rotate-less 3s infinite ease alternate;
  transform-origin: 20% 93%;
}

// Flower petals

.petal1 {
  animation: subtleSway 6s infinite ease-in-out;
  transform-origin: 96% 20%;
}

.petal2 {
  animation: subtleSway 6s infinite ease-in-out alternate;
  transform-origin: 93% 20%;
  animation-delay: 0.5s;
}

.petal3 {
  animation: subtleSway 6s infinite ease-in-out alternate;
  transform-origin: 93% 20%;
  animation-delay: 1s;
}

.petal4 {
  animation: subtleSway 6s infinite ease-in-out alternate;
  transform-origin: 93% 20%;
  animation-delay: 1.5s;
}

.petal5 {
  animation: subtleSway 6s infinite ease-in-out alternate;
  transform-origin: 93% 20%;
  animation-delay: 2s;
}

.petal6 {
  animation: subtleSway 6s infinite ease-in-out alternate;
  transform-origin: 93% 20%;
  animation-delay: 2.5s;
}

.petal7 {
  animation: subtleSway 6s infinite ease-in-out alternate;
  transform-origin: 93% 20%;
  animation-delay: 3s;
}

.petal8 {
  animation: subtleSway 6s infinite ease-in-out alternate;
  transform-origin: 93% 20%;
  animation-delay: 3.5s;
}

.petal9 {
  animation: subtleSway 6s infinite ease-in-out alternate;
  transform-origin: 93% 20%;
  animation-delay: 4s;
}

@keyframes rotate {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes rotate-less {
  0% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes rotate-more {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes subtleSway {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(0.6deg); }
  50%  { transform: rotate(-3deg); }
  80%  { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}
