.wrap {
  max-width: var(--page-width-large);
  margin: 0 auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: var(--grid-gutter);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
}

.image {
  border-radius: 50%;
  margin: 0 auto;
}

.subTitle {
  text-transform: uppercase;
  font-size: 80%;
  color: var(--color-cherry);
}