.image {
  border-radius: var(--border-radius);
}

.figcaption {
  text-align: center;
  padding: 20px 20px 12px;
  margin-top: -8px;
  background: var(--color-kale);
  color: white;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
