.input {
  border-radius: var(--border-radius);
  border: 2px solid var(--color-almondmilk);
  background: transparent;
  color: var(--color-almondmilk);
  padding: var(--spacing-2) var(--spacing-3);
  width: 100%;
  max-width: 300px;
}
