@import "utils/fluidtype";

// Fluid typography
$minWidth: 320px;
$maxWidth: 1200px;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Strike';
  src: url('/fonts/Strike-Black.eot');
  src: url('/fonts/Strike-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/Strike-Black.woff2') format('woff2'), url('/fonts/Strike-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


html {
  @include fluid-type($minWidth, 1000px, 16px, 20px);
}

body {
  font-family: "Jost", sans-serif;
  line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  line-height: 1.2;
  font-weight: normal;
}

h1,
.h1 {
  @include fluid-type($minWidth, $maxWidth, 36px, 56px);
  font-family: "Strike";
}

h2,
.h2 {
  @include fluid-type($minWidth, $maxWidth, 28px, 36px);
  font-weight: 500;
}

h3,
.h3 {
  @include fluid-type($minWidth, $maxWidth, 22px, 28px);
  font-weight: 500;
}

h4,
.h4 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.font-strike {
  font-family: "Strike";
}

.font-jost {
  font-family: "Jost", sans-serif;
}

.lead {
  @include fluid-type($minWidth, $maxWidth, 22px, 28px);
  text-align: center;
  margin: 1rem auto 0;
}

.page-title {
  @include fluid-type($minWidth, $maxWidth, 42px, 72px);
  text-align: center;
}

.breadcrumb {
  font-size: .8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto .6rem;
}