// Scss variables (needed for media query support)
@import "styles/breakpoints";

// Global variables
:root {

   // Colors
  --color-kale: #005032;
  --color-oatmilk: #fffff0;
  --color-aubergine: #d7bbf8;
  --color-banana: #ffe97b;
  --color-pumpkin: #fca77b;
  --color-kaki: #FC5100;
  --color-eggfruit: #FDCC0C;

  // Spacing
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 56px;
  --spacing-9: 64px;
  --spacing-10: 80px;
  --spacing-11: 120px;

  // Page settings
  --page-width-large: 1500px;
  --page-width-medium: 800px;
  --page-width-small: 500px;

  // Gutter settings
  --page-gutter: var(--spacing-7);
  @media (max-width: $breakpoint-tablet) {
    --page-gutter: var(--spacing-4);
  }

  --vertical-gutter: var(--spacing-9);
  @media (max-width: $breakpoint-mobile) {
    --vertical-gutter: var(--spacing-8);
  }

  --grid-gutter: var(--spacing-7);

  // Animations
  --transition: 0.2s cubic-bezier(0, 0, 0.3, 0.9);
  --transition-quick: 0.1s cubic-bezier(0, 0, 0.3, 0.9);

  // Border
  --border-radius: var(--spacing-3);
  --border-radius-large: var(--spacing-6);
}
