.header {
  //background-color: var(--color-aubergine);
}

.logo {
  line-height: .9;
  span {
    display: block;
  }
  &:hover {
    text-decoration: none;
  }
}

.menuItem {
  margin-right: 2rem;
  font-family: 'Strike';

  &:last-child {
    margin-right: 0;
  }
}