.imageWrap {
  height: 100%;

  @media (max-width: 799px) {
    aspect-ratio: 3/2;
  }

  // Needed to target img inside SanityImageWrap
  :global(picture) {
    height: 100%;
  }

  :global(img) {
    object-fit: cover;
    height: 100%;

    @media (max-width: 799px) {
      padding: var(--spacing-3);
      border-radius: var(--border-radius-large);
    }
  }
}

.textWrap {
  display: flex;
  align-items: center;
  height: 100%;

  padding: var(--spacing-9);

  @media (max-width: 799px) {
    padding: var(--spacing-7);
  }

  @media (max-width: 500px) {
    padding: var(--spacing-5);
  }
}

.intro {
  white-space: pre-line; // Keep line breaks (\n) from Sanity
}

// Background colors
.-background-lychee {
  background-color: var(--color-lychee);
}

.-background-banana {
  background-color: var(--color-banana);
}
