.imageWrap {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--color-kale);
}

.image {
  object-fit: cover;
  height: 100%;
}

.textWrap {
  display: flex;
  align-items: center;
  height: 100%;
  padding: var(--spacing-9);
}

.intro {
  white-space: pre-line; // Keep line breaks (\n) from Sanity
}

// Background colors 
.-background-lychee {
  background-color: var(--color-lychee);
}  

.-background-banana {
  background-color: var(--color-banana);
}