.button {
  display: inline-block;
  font-family: "Canela";
  font-weight: 500;
  border: none;
  transition: background-color 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  text-wrap: balance;

  &:hover {
    text-decoration: none;
  }

  &--arrow {
    &:after {
      content: "→";
      display: inline-block;
      margin-left: 0.2em;
      transition: transform 0.3s ease;
    }

    &:hover {
      &:after {
        transform: translateX(20%);
      }
    }
  }

  // &--arrow-external {
  //   &:after {
  //     content: "\2197";
  //     position: relative;
  //     top: -4px;
  //   }
  // }
}

// Colors
.color--orange {
  background-color: var(--color-orange);
  color: var(--color-kale);

  &:hover,
  &:focus {
    background-color: var(--color-banana);
  }
}

.color--green {
  background-color: var(--color-kale);
  color: var(--color-almondmilk);

  &:hover,
  &:focus {
    background-color: var(--color-cucumber);
  }
}

.color--white {
  background-color: var(--color-almondmilk);
  color: var(--color-kale);

  &:hover,
  &:focus {
    color: var(--color-almondmilk);
    background-color: var(--color-cucumber);
  }
}

.color--celery {
  background-color: var(--color-celery);
  color: var(--color-blueberry);

  &:hover,
  &:focus {
    filter: brightness(1.1);
  }
}

.color--blueberry {
  background-color: var(--color-blueberry);
  color: var(--color-ikaffe);

  &:hover,
  &:focus {
    filter: brightness(1.2);
  }
}

// Size
.size--small {
  padding: var(--spacing-1) var(--spacing-3);
  font-size: 1.2rem;
}

.size--medium {
  padding: var(--spacing-1) var(--spacing-5);
  font-size: 1.6rem;

  @media (max-width: 500px) {
    font-size: 1.4rem;
  }
}

.size--large {
  padding: 0 var(--spacing-5);
  font-size: 2rem;
}