.wrap {
  position: relative;
  overflow: hidden;

  @media (max-width: 500px) {
    padding-bottom: 40%;
  }
}

.heroImage {
  margin-top: 50px;
  position: absolute;
  left: 40%;
  z-index: -1;
  height: 100%;
  max-width: none;

  @media (max-width: 1250px) {
    left: 30%;
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.heroImageMobile {
  display: none;

  @media (max-width: 499px) {
    display: block;
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 140px;
    left: var(--page-gutter)
  }
}

.logo {
  line-height: 0.9;
  font-size: 5rem;
  font-family: "Strike";

  @media (max-width: 750px) {
    font-size: 4rem;
  }

  span {
    display: block;
  }
}

.date {
  font-size: 2.1rem;
  line-height: 1.2;

  @media (max-width: 750px) {
    font-size: 1.8rem;
  }
}