.animation {
  display: block;
  overflow: visible;
}

.orange { 
  animation: rotate 4s infinite ease alternate;
  transform-origin: 83% 74%;
}

.brownBody {
  animation: rotate 3s infinite ease alternate-reverse;
  transform-origin: 80% 30%;
}

.blueBottom {
  animation: rotate 3s infinite ease alternate-reverse;
  transform-origin: 70% 90%;
}

.blueTop {
  animation: rotate-more 3s infinite ease alternate;
  transform-origin: 50% 70%;
}

.pink { 
  animation: rotate-less 3s infinite ease alternate;
  transform-origin: 60% 13%;
}

// Flower petals

.petal1 {
  animation: subtleHover 6s infinite ease-in-out;
  transform-origin: 10% 80%;
}

.petal2 {
  animation: subtleHover 6s infinite ease-in-out alternate-reverse;
  transform-origin: 50% 50%;
  animation-delay: 1s;
}

.petal3 {
  animation: subtleHover 6s infinite ease-in-out alternate;
  transform-origin: 50% 50%;
  animation-delay: 2s;
}

.petal4 {
  animation: subtleHover 6s infinite ease-in-out alternate-reverse;
  transform-origin: 50% 50%;
  animation-delay: 3s;
}

.petal5 {
  animation: subtleHover 6s infinite ease-in-out alternate;
  transform-origin: 50% 50%;
  animation-delay: 4s;
}

.petal6 {
  animation: subtleHover 6s infinite ease-in-out alternate-reverse;
  transform-origin: 50% 50%;
  animation-delay: 5s;
}

.petal7 {
  animation: subtleHover 6s infinite ease-in-out alternate;
  transform-origin: 50% 50%;
  animation-delay: 6s;
}

.petal8 {
  animation: subtleHover 6s infinite ease-in-out alternate-reverse;
  transform-origin: 50% 50%;
  animation-delay: 7s;
}

.petal9 {
  animation: subtleHover 6s infinite ease-in-out alternate;
  transform-origin: 50% 50%;
  animation-delay: 8s;
}

@keyframes rotate {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes rotate-less {
  0% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes rotate-more {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes subtleHover {
  0%   { transform: translate(0px, 0px) rotate(0deg); }
  20%  { transform: translate(1px, -2px) rotate(0.3deg); }
  40%  { transform: translate(-2px, 1px) rotate(-0.4deg); }
  60%  { transform: translate(1.5px, -1px) rotate(0.2deg); }
  80%  { transform: translate(-1px, 2px) rotate(-0.3deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}
