// Scss variables (needed for media query support)
@import "styles/breakpoints";

.picture {
  position: relative;
  overflow: hidden;
}

.image {
  margin-left: auto;
  margin-right: auto;
}

.-round-corners {
  border-radius: var(--border-radius);
}

.-featured {
  @media (max-width: 600px) {
    left: 50%;
    margin-left: -70vw;
    margin-right: -70vw;
    max-width: 140vw;
    position: relative;
    right: 50%;
    width: 140vw;
  }
}

.figcaption {
  text-align: center;
  text-wrap: balance;
  padding: 12px 20px 0;
  font-size: 80%;
}

.imageCredit {
  font-size: 80%;
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
  text-shadow: 0px 0px 4px black;
}