.summary {
  list-style: none;
  display: block;
  cursor: pointer;
  position: relative;  

  &::-webkit-details-marker {
    display: none;
  }  
}

.icon {
  transform: rotate(180deg);
  margin-right: var(--spacing-3);
}

.details {
  border-bottom: 1px solid var(--color-cucumber);
  padding-bottom: var(--spacing-3);
}

.details[open] .icon {
  transform: rotate(0deg);
}

.content {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-7);
}