.section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);
}

// Modifiers

.-full {
  width: 100%;
}

.-large {
  max-width: var(--page-width-large);
}

.-medium {
  max-width: var(--page-width-medium);
  }

.-small {
  max-width: var(--page-width-small);
}

.-center-content {
  text-align: center;
}

.-vertical-padding {
  &-tiny {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
  }
  &-small {
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }
  &-medium {
    padding-top: var(--spacing-6);
    padding-bottom: var(--spacing-6);
  }
  &-large {
    padding-top: var(--spacing-7);
    padding-bottom: var(--spacing-7);
  }
  &-xlarge {
    padding-top: var(--spacing-10);
    padding-bottom: var(--spacing-10);
  }
}

.-background {
  &-lychee {
    background-color: var(--color-lychee);
  }
  &-banana {
    background-color: var(--color-banana);
  }
  &-kale {
    background-color: var(--color-kale);
    color: var(--color-almondmilk)
  }
}

.-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.-no-padding {
  &-top {
    padding-top: 0
  }

  &-bottom {
    padding-bottom: 0
  }

  &-sides {
    padding-left: 0;
    padding-right: 0;
  }
}